__pycache__/
.coverage
.DS_Store
.pytest_cache/
.secrets*
.vscode/
*.db
*.patch
*.pkl
*.pyc
*.txt
*/.DS_Store
credentials.json
db/
logs/
model/
remind/
scripts/
staticfiles/
token.pickle
update_copilot/
venv/